/* ----- TYPOGRAPHY ---- */
@font-face {
  font-family: "simpsonfont";
  src: url("/simpsonfont/Simpsonfont DEMO.otf") format("otf");
}

h1 {
  font-size: 50px;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
}

p {
  font-size: 30px;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
}

/* ----- SPLASH SCREEN ----- */

#splash_container {
  background-image: url("/img/3702359.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1350px;
  height: 730px;
  text-align: center;
  padding: 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 0px;
  text-align: right;
  color: white;
}

/* ----- START BUTTON ----- */

button {
  background-size: cover;
  background-position: center;
  background-color: white;
  border-radius: 35%;
  border: 2px outset black;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
  font-size: 40px;
}

/* ----- CANVAS ----- */

#canvas {
  background-image: url("/img/Moes_Bar.jpeg");
  background-size: 100% 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: block;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 0px;
  text-align: right;
}

#gameOver_container {
  background-image: url("/img/tenor.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1350px;
  height: 730px;
  text-align: center;
  padding: 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  margin-top: 0px;
  text-align: right;
  color: white;
}
