/* ----- typography ---- */
@font-face {
  font-family: "simpsonfont";
  src: url("/simpsonfont/Simpsonfont DEMO.otf") format("otf");
}

h1 {
  font-size: 70px;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
  color: white;
}

h2 {
  font-size: 40px;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
  color: white;
}

p {
  font-size: 30px;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
  color: white;
}

/* ----- splash screen ---- */

#splash_container {
  background-image: url("/img/3702359.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1350px;
  height: 730px;
  text-align: center;
  padding: 20px;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 0px;
  text-align: left;
  color: yellow;
}

/* ----- stat button ----- */

button {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border-radius: 35%;
  border: 2px black;
  font-family: "simpsonfont";
  src: url("/simposonfont/Simpsonfont DEMO.otf") format("otf");
  font-size: 40px;
  color: yellow;
}

/* ----- canvas ----- */

#canvas {
  background-image: url("/img/Moes_Bar\ copy.jpeg");
  background-size: 100% 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: block;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 0px;
  text-align: left;
}

#gameOver_container {
  background-image: url("/img/tenor.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1350px;
  height: 730px;
  text-align: center;
  padding: 20px;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 0px;
  text-align: right;
  color: yellow;
}
